---
import "../styles/footer.scss";
---

<div class="row afterFooter">

    <div class="container r">

        <p>© Koddo 2025</p>

        <a href="#backtotop" class="backtotop"><span>Back to top</span></a>

    </div>

</div>
