---
import "../styles/form.scss";
import "../styles/choices.scss";
---

<form
  action="https://api.web3forms.com/submit"
  method="POST"
  id="contactForm"
  class="form contactForm"
  aria-label="Contact form"
>
  <script src="../src/scripts/form.js" type="module" is:inline></script>

  <fieldset style="all: unset;">
    <legend class="sr-only">Contact Form</legend>

    <input type="hidden" name="access_key" value="a8783b79-bafb-44dd-a15a-98e74737197d" />
    <input type="hidden" name="redirect" value="#" />
    <input type="checkbox" name="botcheck" id="botcheck" style="display: none;" aria-hidden="true" />

    <div class="formWrapper">
      <div class="formItem half">
        <label for="name">
          Full Name<span aria-hidden="true">*</span>
        </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Jane Doe"
          required
          aria-required="true"
          autocomplete="name"
        />
      </div>

      <div class="formItem half">
        <label for="email">
          Email Address<span aria-hidden="true">*</span>
        </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="you@company.com"
          required
          aria-required="true"
          autocomplete="email"
        />
      </div>

      <div class="formItem half">
        <label for="company">Company / Brand Name</label>
        <input
          type="text"
          name="company"
          id="company"
          placeholder="Koddo"
          autocomplete="organization"
        />
      </div>

      <div class="formItem half">
        <label for="website">Website</label>
        <input
          type="url"
          name="website"
          id="website"
          placeholder="https://example.com"
          pattern="https://.*"
          size="30"
        />
      </div>

      <div class="formItem">
        <label for="projectType">
          Project Type<span aria-hidden="true">*</span>
        </label>
        <select name="projectType" id="projectType" required>
          <option value="" disabled selected>Select a project type</option>
          <option value="Website">Website</option>
          <option value="webapp">Web App</option>
          <option value="ecommerce">E-commerce</option>
          <option value="Other">Other</option>
          <option value="notSure">Not sure</option>
        </select>
      </div>

      <div class="formItem">
        <label for="timeline">
          Timeline<span aria-hidden="true">*</span>
        </label>
        <select name="timeline" id="timeline" required>
          <option value="" disabled selected>Select a timeline</option>
          <option value="1-2 weeks">1-2 weeks</option>
          <option value="2-4 weeks">2-4 weeks</option>
          <option value="4-8 weeks">4-8 weeks</option>
          <option value="8+ weeks">8+ weeks</option>
          <option value="notSure">Not sure</option>
        </select>
      </div>

      <div class="formItem">
        <label for="budget">
          Budget<span aria-hidden="true">*</span>
        </label>
        <select name="budget" id="budget" required>
          <option value="" disabled selected>Select a budget</option>
          <option value="less than €500">Less than €500</option>
          <option value="€500-€1000">€500-€1000</option>
          <option value="€1000-€5000">€1000-€5000</option>
          <option value="€5000-€10,000">€5000-€10,000</option>
          <option value="€10,000+">€10,000+</option>
          <option value="notSure">Not sure</option>
        </select>
      </div>

      <div class="formItem">
        <label for="message">
          What's your project about?<span aria-hidden="true">*</span>
        </label>
        <textarea
          rows="5"
          name="message"
          id="message"
          placeholder="Tell us a bit about your project..."
          required
          aria-required="true"
          aria-describedby="formNote"
        ></textarea>
        <p class="formNote" id="formNote">
          We will never share your information with anyone else.<br />
          By submitting this form, you agree to our
          <a href="/privacy-policy">Privacy Policy</a>.
        </p>
      </div>

      <button class="btn primary" type="submit">Send message</button>
    </div>
  </fieldset>
</form>

<div
  class="formSuccess border bgLight shadow radius"
  data-delay="1"
  style="display: none;"
>
  <div class="successMark" style="display: none">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
    </svg>
  </div>
  <h3>Thank you!</h3>
  <p>
    Your message has been sent successfully. We will get back to you as soon as possible.
  </p>
</div>
