---
import "../styles/footer.scss";
---

<footer id="footer" class="footer row hasWidth shadow radius border bgLight">

    <div class="container">

        <div class="footerlogo">

            <img src="/assets/icons/icon-logo-mark.svg" alt="Koddo Logo" loading="lazy" />

            <p>Building tomorrow's web, today.</p>

        </div> <!-- .footerlogo -->

        <nav class="footerLinks">

            <a href="/privacy-policy/">Privacy Policy</a>
            
            <a href="/terms-of-service/">Terms of Service</a>

        </nav> <!-- .footerLinks -->
 
    </div> <!-- .container -->

</footer> <!-- #footer -->